body {
    padding: 0;
    margin: 0;
    background: #ffffff;

}

.navbar {
    background:#ffffff;
}
.nav-link,
.navbar-brand {
    color: #000;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.img-rounded{
  border-radius:20%;
}
.nav-link:hover {
    color: #000;
}
.container{
  width:100%;
  max-width:1500px;

}

.navbar-collapse {
    justify-content: flex-end;
}
.header {
    background-image: url('img/grass.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    position: relative;

}
.h1{
  font-size = 60px;
  color: #6ab446;
}
.d-block{
    border-radius:20%;
}
.footer{
  position:fixed;
  bottom:0;
  height:100px;
  width:100%;
  color: #ffffff;
}
.footer p {
   margin-bottom: 0;
}
.footer a{
  margin-bottom: 0;
}
.features .form-control,
.features input {
	border-radius: 0;
}
.features .btn {
    background-color: #589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
}
.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1{
  position:relative;
	color: #6ab446;
  z-index:11;
}
.description p{
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}
.body{
  padding-bottom: 0;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index:0;
}
